:root {
  --button-size: 32px;
  --button-radius: 50%;
  --button-color: #fff;
  --icon-color: rgb(56, 56, 56);
  --transition-duration: 0.3s;
}

.audio-controls {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}

.play-pause {
  align-items: center;
  background-color: var(--button-color);
  height: var(--button-size);
  width: var(--button-size);
  border-radius: var(--button-radius);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-duration) ease-in-out;
  cursor: pointer;
}

.prev-next {
  align-items: center;
  background: transparent;
  border: none;
  height: var(--button-size);
  width: var(--button-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all var(--transition-duration) ease-in-out;
}

.button-icon {
  fill: var(--icon-color);
}

.pressed {
  transform: scale(0.90);
}
