:root {
  --slider-before-width: 0%;
  --volume-before-width: 100%;
  --buffered-width: 0%;
  --progress-bar-height: 4px;
  --progress-bar-radius: calc(var(--progress-bar-height)/2);
}

.playback-bar {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  flex-wrap: wrap;
}

.player-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 50%;
  padding: 0;
  height: 20px;
  margin: 0;
  outline: none;
  background-color: transparent;
}

.player-slider:hover.player-slider::-webkit-slider-thumb,
.player-volume-slider:hover.player-volume-slider::-webkit-slider-thumb {
  border: 1px solid #ccc;
  background: #e0e0e0;
}

.player-volume-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 20%;
  padding: 0;
  height: 20px;
  outline: none;
  background-color: transparent;
}


.player-volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--progress-bar-height);
  cursor: pointer;
  border-radius: var(--progress-bar-radius);
  background: rgba(0, 125, 181, 0.3);
}

.player-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--progress-bar-height);
  cursor: pointer;
  border-radius: var(--progress-bar-radius);
  background: rgba(0, 125, 181, 0.3);
  background: linear-gradient(
    to right,
    hsla(199, 100%, 35%, 0.5) var(--buffered-width),
    rgba(0, 125, 181, 0.3) var(--buffered-width)
  );
}

.player-volume-slider::-moz-range-track {
  width: 100%;
  height: var(--progress-bar-height);
  cursor: pointer;
  border-radius: var(--progress-bar-radius);
  background: rgba(0, 125, 181, 0.3);
}

.player-slider::-moz-range-track {
  width: 100%;
  height: var(--progress-bar-height);
  cursor: pointer;
  border-radius: var(--progress-bar-radius);
  background: rgba(0, 125, 181, 0.3);
  background: linear-gradient(
    to right,
    rgba(0, 125, 181, 0.5) var(--buffered-width),
    rgba(0, 125, 181, 0.3) var(--buffered-width)
  );
}

.player-slider::before {
  position: absolute;
  content: '';
  top: 8px;
  left: 0;
  height: var(--progress-bar-height);
  width: var(--slider-before-width);
  border-radius: var(--progress-bar-radius);
  background-color: rgb(34, 122, 163);
  background: linear-gradient(
    to right,
    rgb(34, 122, 163) 90%,
    rgb(0, 95, 139) 100%
  );
  cursor: pointer;
}

.player-volume-slider::before {
  position: absolute;
  content: '';
  top: 8px;
  left: 0;
  height: var(--progress-bar-height);
  width: var(--volume-before-width);
  border-radius: var(--progress-bar-radius);
  background-color: rgb(34, 122, 163);
  cursor: pointer;
}

.player-volume-slider:hover::before,
.player-slider:hover::before {
  background-color: #9a0007;
  background: linear-gradient(
    to right,
    #d32f2f 90%,
    #9a0007 100%
  );
}

.player-volume-slider::-webkit-slider-thumb,
.player-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  margin-top: -3px;
  padding: 0;
  border-radius: 50%;
  background: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}

.player-volume-slider:active::-webkit-slider-thumb,
.player-slider:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.player-slider::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #e0e0e0;
  cursor: pointer;
}

.player-slider::-ms-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #e0e0e0;
  cursor: pointer;
}

.time {
  font-size: 14px;
  color: #333;
}

.player-icon {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover {
  opacity: 1;
}

.player-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.unmute {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-image: url('../../assets/volume.svg');
}

.mute {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-image: url('../../assets/mute-volume.svg');
}
