.audio-player {
  position: relative;
  width: 350px;
  border-radius: 15px;
  background: rgba(233, 145, 130, 0.2);
  backdrop-filter: blur(5px);
  overflow: hidden;
  cursor: pointer;
}

.audio-container {
  width: 100%;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  background: rgb(38, 100, 212);
  background: linear-gradient(
    90deg,
    rgba(38, 100, 212, 0.49933476808692223) 60%,
    rgba(0, 0, 0, 0) 100%
  );

  transition: all var(--transition-duration) ease-in-out;
}
.audio-player:hover >
.audio-container {
  height: 120px;
}