.audio-player {
  position: relative;
  width: 350px;
  border-radius: 15px;
  background: rgba(233, 145, 130, 0.2);
  backdrop-filter: blur(5px);
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.audio-container {
  width: 100%;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  background: rgba(100, 181, 246, 0.5);
  background: linear-gradient(
    90deg,
    rgba(100, 181, 246, 0.5) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: all var(--transition-duration) cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.audio-player:hover >
.audio-container {
  height: 120px;
}
